<% 
def tag_item(icon, text)
  '<li><a href="#" data-toggle="tooltip" title="%s"><i class="%s"></i></a></li>' % [ text, icon ]
end

%>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Project 2013</li>
    <li class="active"><a href="#"><i class="icon-bolt"></i>Jan</a></li>
    <li><a href="#"><i class="icon-beaker"></i>Feb</a></li>
    <li><a href="#"><i class="icon-github"></i>Mar</a></li>
    <li><a href="#"><i class="icon-comments-alt"></i>Apr</a></li>
    <li class="nav-header">Tag</li>
  </ul>
  <ul class="tags">
    <%= tag_item("z-icon-android", "Android")  %>
    <%= tag_item("icon-wrench", "Tool/Scripts")  %>
    <%= tag_item("icon-zoom-in", "UI")  %>
    <%= tag_item("icon-globe", "Web")  %>
  </ul>
</div><!--/.well -->
