<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Project 2013</li>
    <li class="active"><a href="#"><i class="icon-bolt"></i>Jan</a></li>
    <li><a href="#"><i class="icon-beaker"></i>Feb</a></li>
    <li><a href="#"><i class="icon-github"></i>Mar</a></li>
    <li><a href="#"><i class="icon-comments-alt"></i>Apr</a></li>
    <li class="nav-header">Tag</li>
    <li><a href="#"><i class="z-icon-android"></i>Android</a></li>
    <li><a href="#"><i class="icon-wrench"></i>Tool/Scripts</a></li>
    <li><a href="#"><i class="icon-zoom-in"></i>UI</a></li>
    <li><a href="#"><i class="icon-globe"></i>Web</a></li>
    <li class="nav-header">Sidebar</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
</div><!--/.well -->

