 <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper bistre-nav">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar">
          <div class="navbar-inner-bistre">
            <a class="brand" href="#">Billy Ng Project 2013</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav pull-right navanimation">
                <li class="Lava"><a href="#">HOME<br><span>Project 2013</span></a></li>
                <li class="Lava"><a href="#about">ABOUT<br><span>Me</span></a></li>
                <li class="Lava"><a href="#about">Blog<br><span>notes</span></a></li>
                <li class="Lava"><a href="#contact">COLLECTIONS<br><span>random stuff</span></a></li>
                <li class="Lava"><a href="#contact">ALBUMS<br><span>photos</span></a></li>
                
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
